
.app-container {
  background-image: url("../src/stock-bkg.jpg");
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 0.9;
}

.content{
  width: 100%;
  height: auto;
}

.row1{
  width: 100%;
  padding: 15px;
  font-size: 35px;
  color: white;
  font-family: serif
}

